[submodule "dump"]
	path = dump
	url = https://github.com/makuhari-city/dump.git
[submodule "vote"]
	path = vote
	url = https://github.com/makuhari-city/vote.git
[submodule "em-fptp"]
	path = em-fptp
	url = git@github.com:makuhari-city/em-fptp.git
[submodule "em-liquid"]
	path = em-liquid
	url = git@github.com:makuhari-city/em-liquid.git
[submodule "em-borda"]
	path = em-borda
	url = git@github.com:makuhari-city/em-borda.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:makuhari-city/frontend.git
[submodule "em-indirect"]
	path = em-indirect
	url = git@github.com:makuhari-city/em-indirect
